.bg{
    background: fixed;
    background-image: url('https://i.ibb.co/Fw8zngj/depressed-patient-is-getting-treatment-from-psychologist-53876-14353.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.6px);
-webkit-backdrop-filter: blur(10.6px);
border: 1px solid rgba(255, 255, 255, 0.3);
}